<div class="container">
  <h4>商品詳細</h4>
  <div class="row">
    <div class="col-sm-4">
        
    </div>
    <div class="col-sm-8">
      <table>
        <tbody>
          <tr>     
            <th>商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>     
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>     
            <th>ジャンル</th>
            <td><%= @item.genre&.name %></td>
          </tr>
          <tr>     
            <th>税抜価格(税込価格)</th>
            <td><%= delimited(@item.price) %>(<%= delimited(include_tax(@item.price)) %>)円</td>
          </tr>
          <tr>     
            <th>販売ステータス</th>
            <td><%= @item.is_active_i18n %></td>
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>

