注文履歴一覧
<table>
 <% @order.each do |order| %>
 <thead>
  <th>日時</th>
  <th>住所</th>
  <th>商品名</th>
  <th>合計金額</th>
  <th>ステータス</th>
 </thead>
 
 <tbody>
  <td><%= @order.created_at %></td>
  <td><%= @order.address %>
  <td><%= @item_.name %></td>
  <td><%= @total_fee + @order.shipping_cost %></td>
  <td><%= @order.status %></td>
 </tbody>
</table>
<% end %>