<div class="container">
 <div class="row">
  <div class="col-sm-12 px-5 px-sm-0 mx-auto">
<h5>注文履歴一覧</h5>
<table class="table">
 <thead>
  <tr>
   <th>日時</th>
   <th>配送先</th>
   <th>商品名</th>
   <th>合計金額</th>
   <th>ステータス</th>
   <th>注文詳細</th>
  </tr>
 </thead>

 
 
 <tbody>
   <% @order.each do |order| %>
  <tr>
   <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
  <td><%= order.address %></td>
  <td><% order.order_details.each do |order_detail| %>
  <% @total_price += (order_detail.item.price * 1.1).floor * order_detail.amount %>
  <%= order_detail.item.name %>
  <% end %></td>
  <td><%= @total_price + order.shipping_cost %></td>
  <td><%= order.status %></td>
  <td><%= link_to "表示する", order_path(order.id), class: "btn btn-sn btn-success" %></td>
 </tr>
 <% end %>
 </tbody>
</table>
