注文履歴一覧
<table>
 <thead>
  <tr>
   <th>日時</th>
   <th>住所</th>
   <th>商品名</th>
   <th>合計金額</th>
   <th>ステータス</th>
  </tr>
 </thead>

 
 
 <tbody>
   <% @order.each do |order| %>
  <tr>
   <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
  <td><%= order.address %></td>
  <td><% order.order_details.each do |order_detail| %>
  <% @total_price += (order_detail.item.price * 1.1).floor * order_detail.amount %>
  <%= order_detail.item.name %>
  <% end %></td>
  <td><%= @total_price + order.shipping_cost %></td>
  <td><%= order.status %></td>
 </tr>
 <% end %>
 </tbody>
</table>
