<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= image_tag @item.get_image(100,100) %>
    </div>
  
  <div class="col-md-8  offset-md-1">
   <table class = "table">
     <tr>
      <th><%= @item.name %></th>
      <td><%= @item.introduction %></td>
      <td><%= @item.price %>円(税込)</td>
  
  
      <td><%= form_with model: @cart_item, url:cart_items_path do |f| %></td>
      <td><%= f.hidden_field :item_id, :value => @item.id %></td>
      <td><%= f.select :amount, *[1..5] %></td>
      <td><%=f.submit "カートに入れる", class: "btn btn-sn btn-success" %></td>
      </table>
      <% end %>
  
      </div>
     </div>
    </div>
  </div>  
  
  
  
  