<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= image_tag @item.get_image(100,100) %>
    </div>
  
 <div class="col-md-8  offset-md-1">
  <%= @item.name %><br>
  <%= @item.introduction %>
  <%= @item.price %>
  
  <%= form_with model: @cart_item, url:cart_items_path do |f| %>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.select :amount, *[1..5] %>
  <%=f.submit "カートに入れる" %>
  <% end %>
  
      </div>
     </div>
    </div>
  </div>  
  
  
  
  