<div class="container">
  <div class="row">
    <div class="col-md-3">
     <%= image_tag @item.get_image(100,100) %>
    </div>
  
  <div class="col-md-8  offset-md-1">
   <div class="field">
     <h3><%= @item.name %></h3>
     <p><%= @item.introduction %></p>
     <h5><%= @item.price %>円(税込)</h5>
  
    <%= form_with model: @cart_item, url:cart_items_path do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, *[1..5] %>
    <%= f.submit "カートに入れる", class: "btn btn-sn btn-success" %>
    <% end %>
       </div>
      </div>
     </div>
    </div>
  </div>